// Typography
$font-family-main: 'PT Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Playfair Display', 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #f98752;
$background-color: #2A2832;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #EAEAEA;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #eaeaea;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #F98752;
$header-desc-text-color: #FFF;
